body {
    background-color: #121212;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1 {
    text-align: center;
    color: white;
}

li {
    color: white;
}

a {
    color: white;
    margin: 5px;
    padding: 5px;
}

a:hover {
    color: burlywood;
}

h3 {
    text-align: center;
    margin-top: 60px;
    color: white;
}

h4 {
    margin-left: 10px;
    margin-top: 40px;
    color: white;
}

p {
    margin-left: 20px;
    margin-right: 100px;
    color: white;
}

.description {
    text-align: center;
    margin: auto;
}

img {
    border-radius: 10%;
    height: 320px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}