body {
    background-color: #121212;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}


.recipe-list {
    text-align: center;
    color: white;
}

#recipe-list {
    text-align: left;
    display: inline-block;
    padding: 15px 35px;
    border: 1px solid;
    border-radius: 16px;
    box-shadow: 3px 3px grey;
    color: white;
}

a {
    color: black;
    color: white;
}

a:hover {
    color: burlywood;
}
